.form-container {
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
}

.form-content {
    padding: 0 30px;
}

.form-content ul {
    margin-left: 2rem;
}

.container h2,
h4 {
    color: #648880;
    margin: 1rem 0;
}

.container h5 {
    color: #a9b2b9;
    margin: 1rem 0;
}

.container p,
li {
    color: #888;
    font-weight: 600;
    list-style: square;
    word-spacing: 5px;
    vertical-align: top;


}


form {
    padding: 0 30px;
    font-weight: bold;
    vertical-align: top;

}

form label {
    color: #648880;
    font-size: 1.1rem;
    width: clamp(300px, 50%, 400px)
}

form input {
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    margin: .3rem 0 2rem;
    border: 1px solid #a9b2b9;
    border-radius: 5px;
    width: clamp(300px, 50%, 400px)
}

form select {
    display: flex;
    border: 1px solid #a9b2b9;
    padding: .5rem 1rem;
    border-radius: .3rem;
    margin: .5rem 0 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: #648880;

}

form textarea {
    display: flex;
    border: 1px solid #a9b2b9;
    padding: .5rem 1rem;
    border-radius: .3rem;
    margin: .5rem 0 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: #648880;
    width: clamp(300px, 50%, 400px);
}

#btn {
    background-color: #648880;
    color: #f0f0f0;
    width: 150px;
    padding: .7rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    font-weight: bold;
}


@media screen and (max-width: 850px) {
    .header-content p{
        font-size: 1rem;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-content {
        padding-bottom: 5rem;
    }
    
    form {
        border-top: 2px solid #648880;
        padding: 0;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    textarea,input {
        width: 90% !important;
        padding: 0.5rem !important;
        margin: 0;
    }
}